
.filters
  width 250px
  padding 2rem 1rem

  .search-saved
    h2
      font-weight bold
    ul
      padding 1rem 3rem
      li a
        color blue

      .options-search
        font-size .8rem
        display none
        a
          color blue
          text-decoration underline
