header
  width 100%
  flex(row , flex-start , center)

  @media(max-width 568px)
    flex(column , flex-start , center)

  @media(min-width 569px) and (max-width 768px)
    flex(column , flex-start , center)

  @media(min-width 769px) and (max-width 1024px)
      flex(column , flex-start , center)

  .container-logo
    margin 1rem
    text-decoration none
    color black

    .logo
      font-size 2.3rem
      text-align center

  .container-search
    margin-left 4rem

    @media(max-width 568px)
      margin-left 0

    @media(min-width 569px) and (max-width 768px)
      margin-left 0
