*
    font-family "Proxima Nova"
    margin 0
    padding 0
    list-style none

//Mixins

flex($direction , $jc , $ai)
  display flex
  flex-direction $direction
  justify-content $jc
  align-items $ai

@import "blocks/*"
