* {
  font-family: "Proxima Nova";
  margin: 0;
  padding: 0;
  list-style: none;
}
.app {
  width: 90%;
  margin: 0 auto;
}
.filters {
  width: 250px;
  padding: 2rem 1rem;
}
.filters .search-saved h2 {
  font-weight: bold;
}
.filters .search-saved ul {
  padding: 1rem 3rem;
}
.filters .search-saved ul li a {
  color: #00f;
}
.filters .search-saved ul .options-search {
  font-size: 0.8rem;
  display: none;
}
.filters .search-saved ul .options-search a {
  color: #00f;
  text-decoration: underline;
}
header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 568px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
@media (min-width: 569px) and (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
header .container-logo {
  margin: 1rem;
  text-decoration: none;
  color: #000;
}
header .container-logo .logo {
  font-size: 2.3rem;
  text-align: center;
}
header .container-search {
  margin-left: 4rem;
}
@media (max-width: 568px) {
  header .container-search {
    margin-left: 0;
  }
}
@media (min-width: 569px) and (max-width: 768px) {
  header .container-search {
    margin-left: 0;
  }
}
.search-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 568px) {
  .search-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.search-form form input[type=search] {
  width: 250px;
  height: 2rem;
}
@media (max-width: 568px) {
  .search-form form input[type=search] {
    width: 180px;
  }
}
.search-form form input[type=submit] {
  width: 60px;
  height: 2rem;
  font-size: 1rem;
}
.search-form a {
  margin: 0.5rem 0.5rem 0.5rem 1rem;
  color: #00f;
}
