doctype html
html(lang="es")
    head
        title Finder challenge
        meta(charset="utf-8")
        meta(viewport="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" , href="/styles/awesomplete.css")
        link(href="https://fonts.googleapis.com/css?family=Proxima+Nova", rel="stylesheet", type="text/css")
        link(href="/styles/index.css", rel="stylesheet")

    body
        .app
            header
                a(href="./").container-logo
                  h1.logo Finder challenge
                .container-search
                  include blocks/search-form
            aside.filters
              .search-saved
                h2 Búsquedas guardadas
                ul(id="listSearchSaved")
            content
            footer

        //- third party libraries
        script(src="/vendor/underscore/underscore-min.js")

        //- app scripts self
        script(src="/scripts/global.js")
        script(src="/scripts/search-form.js")
        script(src="/scripts/awesomplete.min.js" async)
        script(src="/scripts/app.js")
